UseTab: Never
IndentWidth: 4
ColumnLimit: 120
ReflowComments: false
AlignTrailingComments: true
---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
---

